*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans' , sans-serif;
	box-sizing: border-box;
}


body{
	margin: 0;
	padding: 0;
	
}


.home{
	height: 100vh;
	width: 100%;
	background-image: url(Images/8.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-position: top;
}

/* --Navbar-- */


#mainNav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* background-color: #333;
	color: white */
}

.navbar-links ul{
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-links li{
	list-style: none;

}

.navbar-links li a{
	text-decoration: none;
	color: white;
	padding: 1rem;
	display: block;
}



.toggle-button{
	position: absolute;
	top: .75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
	margin-top: 18px;
}


.toggle-button .bar{
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}

.toggle-button:hover{
	cursor: pointer;
}

@media (max-width:1190px){
	.toggle-button{
		display: flex;
	}

	.navbar-links{
		display: none;
		width: 100%;
	}

	#mainNav{
		flex-direction: column;
		align-items: flex-start;
	}

	.navbar-links ul{
		width: 100%;
		flex-direction: column;
	}

	.navbar-links li{
		text-align: right;
	}

	.navbar-links li a{
		padding: .5rem 1rem;
	}

	.navbar-links.active{
		display: flex;
	}

	.main{
		text-align: center;
		margin-left: 10%;
		margin-right: 10%;
	}

	
}

@media (min-width:1190px){
	.main{
		display: flex;
	}
}


.logo{
	color: floralwhite;
	font-size: 50px;
	letter-spacing: 1px;
	cursor: pointer;
	font-family: 'Fredoka One', cursive;
}

#typingLogo{
	color: floralwhite;
	font-size: 50px;
	letter-spacing: 1px;
	cursor: pointer;
	font-family: 'Fredoka One', cursive;
}


span, #colorChange{
	color: #82d305;
}

nav{
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: space-between;
	/* padding-top: 40px;
	padding-left: 2%;
	padding-right: 2%; */
}


nav ul li{
	list-style-type: none;
	display: inline-block;
	/* padding: 10px 25px; */
}

nav ul li a{
	color:  floralwhite;
	text-decoration: none;
	font-size: 25px;
	text-transform: capitalize;
	font-family: 'Chakra Petch', sans-serif;
}

nav ul li a:hover{
	color: #82d305;
	transition: .4s;
	text-decoration: none;
}

#btn{
	background-color: #82d305;
	color: black;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bolder;
	padding: 10px 25px;
	border-radius: 5px;
	font-size: 20px;
}

#btn:hover{
	background-color: transparent;
	color: #82d305;
	border: 2px solid #82d305;
	transform: scale(1.03);
	transition: .5s;
}


.navbar.scrolled{
	background: hsl(0 0% 100% / 0.1);
	backdrop-filter: blur(2rem);
	transition: 1s;
}

/* Main Intro (Mian Rafay... I'm A...) */
.content{
	position: absolute;
	top: 50%;
	left: 8%;
	transform: translateY(-50%);
}

h1{
	color: floralwhite;
	margin: 20px 0px 20px;
	font-size: 100px;
}


h3{
	color:  floralwhite;
	font-size: 25px;
	margin-bottom: 50px;
}

h4{
	color: floralwhite;
	letter-spacing: 2px;
	font-size: 20px;
}

h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;

}

#hireButton{
	margin-top: 30px;
}


/* About Section */
.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #101010;

}

.about img{
	height: auto;
	width: 430px;
}

.about-text{
	color: black;
	text-align: center;
	margin-left: 15%;
	margin-right: 10%;
}

.main{
	width: 1500px;
	max-width: 95%;
	margin: 0 auto;
	align-items: center;
	justify-content: space-around;
}

.about-text h2{
	color: floralwhite;
	font-size: 100px;
	text-transform: capitalize;
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
	font-family: 'Mouse Memoirs', sans-serif;
}

.about-text h5{
	color: floralwhite;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}

.about-text p{
	color: floralwhite;
	letter-spacing: 2px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}

button{
	background-color: #82d305;
	color: black;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bolder;
	padding: 13px 30px;
	font-size: 20px;
	border-radius: 30px;
	transition: .4s;
}

button:hover{
	background-color: transparent;
	border: 2px solid #82d305;
	cursor: pointer;
	color: #82d305;
	transition: .7s;
}

/* My Skills */
.skillSection{
	background: rgb(0, 0, 0);
	padding: 100px 0px;
}

.skill{
	width: 500px;
	margin: 60px auto;
	color: floralwhite;
	padding: 20px;
	box-shadow: 0 14px 28px rgb(130, 211, 5), 0 10px 10px rgb(255,250,240);
}

.skill li{
	margin: 20px;
	padding: 10px;
	list-style: none;
}


.skill li h3{
	color:  floralwhite;
	text-decoration: none;
	font-size: 25px;
	font-weight: bolder;
	text-transform: capitalize;
	font-family: 'Chakra Petch', sans-serif;

}

.bar{
	background: black;
	display: block;
	height: 20px;
	border: 1px solid black;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 2px 3px  rgba(130, 211, 5, 0.551), 0 10px 10px rgba(255,250,240, 0.22);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.bar:hover{
	box-shadow: 0 14px 28px rgba(130, 211, 5, 0.25), 0 10px 10px rgba(255,250,240, 0.727);
}

.bar span{
	height: 20px;
	float: left;
	background: linear-gradient(135deg, rgb(213, 24, 24)0%, rgb(130, 211, 5)100%);
}

.py{
	width: 95%;
	animation: py 3s;
}

.cPlus{
	width: 75%;
	animation: cPlus 3s;
}

.cSharp{
	width: 85%;
	animation: cSharp 3s;
}

.webHtml{
	width: 90%;
	animation: webHtml 3s;
}

.webCss{
	width: 90%;
	animation: webCss 3s;
}

.webJs{
	width: 80%;
	animation: webJs 3s;
}

@keyframes py{
	0%{
		width: 0%;
	}
	100%{
		width: 95%;
	}
}
@keyframes cPlus{
	0%{
		width: 0%;
	}
	100%{
		width: 75%;
	}
}
@keyframes cSharp{
	0%{
		width: 0%;
	}
	100%{
		width: 85%;
	}
}
@keyframes webHtml{
	0%{
		width: 0%;
	}
	100%{
		width: 90%;
	}
}
@keyframes webCss{
	0%{
		width: 0%;
	}
	100%{
		width: 90%;
	}
}
@keyframes webJs{
	0%{
		width: 0%;
	}
	100%{
		width: 80%;
	}
}







/* My Projects */

.service{
	background: #101010;
	width: 100%;
	cursor: pointer;
	padding: 100px 0px;
}

.title h2{
	color:  floralwhite;
	font-size: 100px;
	width: 1130px;
	margin: 30px auto;
	width: 100%;
	text-align: center;
	font-family: 'Mouse Memoirs', sans-serif;

}

.intro{
	font-family: 'Chakra Petch', sans-serif;
}

.name{
	font-weight: bolder;
	font-family: 'Chakra Petch', sans-serif;
	font-size: 120px;
}

.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}

#card{
	height: auto;
	width: 335px;
	padding: 20px 35px;
	background: rgb(65, 74, 63);
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

#card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #82d305;
}


.pra p{
	color: white;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
	margin-top: 35px;

}

#card .button{
	background-color: #82d305;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 10px;
	transition: .4s;
}


#card .button:hover{
	background-color: transparent;
	border: 2px solid #82d305;
	cursor: pointer;
	color: #82d305;
	transition: .7s;
}

/* --Footer Start-- */
#connect{
	position: relative;
	width: 100%;
	height: 220px;
	background: #6A9113;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #141517, #6A9113);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #141517, #6A9113); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}

#connect p:nth-child(1){
	font-family: 'Mouse Memoirs', sans-serif;
	font-size: 75px;
	color: floralwhite;
	margin-bottom: 20px;
	font-weight: bold;
	display:block;
	text-align:center;
	width: 100%;
}

.social{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	width: 99%;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	background: black;
	margin: 0px 0px 20px 20px;
	border-radius: 30%;
	color: white;
	font-size: 28px;
}

.social a:hover{
	transform: scale(1.3);
	transition: .4s;
	background: white;
}

#lnk:hover{
	color: #0072b1;
	text-decoration: none;
}


#git:hover{
	color: #262525;
	text-decoration: none;
}

#mail:hover{
	color: #421111;
	text-decoration: none;
}